<div class="hero">

    <div class="hero-left">

        <h1>
            The Best Place <br>
            To Find Your <br>
            Dream Company
        </h1>

        <p>
            Ideal platform for job seekers passionate about
            startups and seeking new career opportunities.
        </p>

        <div class="search-box">
            <input
                type="text"
                placeholder="Job title or Company"
            >

            <button>Explore</button>
        </div>

        <div class="tags">
            <button>Land your Dream Job</button>
            <button>Recruit the Perfect Fit</button>
        </div>

    </div>

    <div class="hero-right">

        <div class="rectangle">
            <img class="main-image"
                 src="../../assets/image/back-image.png">
        </div>

        <img class="slack-icon"
             src="../../assets/image/Group 33881 (2).png">

        <img class="link-icon"
             src="../../assets/image/Group 33878 (1).png">

        <img class="google-icon"
             src="../../assets/image/Group 33878.png">

        <img class="application-card"
             src="../../assets/image/Frame 14.png">

        <img class="job-card"
             src="../../assets/image/Frame 15.png">

    </div>

</div>