* {
    margin: 0px;
    padding: 0px;
}
header h1 {
    margin-bottom: 10px;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #ff8008, #ffc837);
    padding: 5px 0;
    margin-bottom: 0;
    
    
}

.heading{ 
    animation: textbig 2.5s infinite ease-in-out;
    
}

@keyframes textbig{
    
    0%, 100% {
        transform: scale(1);
    }
    50%  {
        transform: scale(1.1);
    }
}


 .main {
    margin-bottom: 10px;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #ff8008, #ffc837);
    padding: 5px 0;
}

.main :hover {
     transform: scale(1.05);
     color: black;
}

/*  //// About Section ////  */
.about {
    background-color: #fff8e7;
    border: 2px solid #ffd27f;
    border-radius: 10px;
    width: 60%;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.about:hover{
     transform: scale(1.05);
}

.about h2 {
    color: #b22222;
    margin-bottom: 10px;
}

.about p {
    
    color: black;
}


/* Activities Section */
.activities {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

/* Card Styling */
.card {
    background-color: white;
    border: 2px solid #ffd27f;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    transition: transform 0.3s;
}



.card img {
    width: 100%;
    height: 140px;
    object-fit: fill;
    
}

.card img:hover{
    transform: scale(.70);
}

.card h3 {
    padding: 10px;
    color: #333;
}

.onam{
    text-align: center;
    color: red;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pookalam{
    text-align: left;
    color: black;
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 8px;
    border-radius: 5px;
   
}
.pookalam:hover{
    transform: scale(1.01);
    background-color: rgb(247, 190, 121);
}

.dance{
    text-align: left;
    color: black;
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    border-radius: 5px;
    

}
.dance:hover{
    transform: scale(1.01);
    background-color: rgb(247, 190, 121);
}

.boat{
    text-align: left;
    color: black;
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    border-radius: 5px;

}
.boat:hover{
    transform: scale(1.01);
    background-color: rgb(247, 190, 121);
}

.food{
    text-align: left;
    color: black;
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    background-size: 50px;
    border-radius: 5px;

}
.food:hover{
    transform: scale(1.01);
    background-color: rgb(247, 190, 121);
}

.box{
    width: 1250px;
    height: 80px;
}

.mail{
    width: 1250px;

}

.text{
    width: 1250px;

}

.btn{
    background-color: rgb(0, 141, 132);
    border-color: rgb(0, 141, 132);
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
.btn:hover{
    transform: scale(1.1);
    background-color: purple;
}

footer {
  background: linear-gradient(to right, #ff8008, #ffc837);
  color: white;
  text-align: center;
  padding: 12px 0;
  font-size: 0.9em;
  margin-top: 30px;
}


