<div class="container content-section">

    <div class="col-md-6">

        <h1 class="title">
            The Best Place<br>To Fing Your<br>Dream Company
        </h1>

        <p class=" sub-text mb-5">
            Ideal platform for job seekers passionate about startups <br>
            and seeking new career opportunities.
        </p>

        <div class="search-box d-flex align-items-center">
            <input type="text" placeholder="Job title or Company" class="form-control">
            <div class="btn blue-btn">Explore</div>
        </div>

        <div class="mt-4 ms-4">
            <button class="btn green-btn me-4">Land your Dream Job</button>
            <button class="btn green-btn">Recruit the Perfect Fit</button>
        </div>

    </div>
</div>
