<div class="logo">
    <img src="assets/images/Vector (2).png" class="menu-icon">
    <h1>Jobie</h1>
</div>
<nav class="nav-menu">
    <ul>
        <li>
            <img src="assets/images/Vector (2).png" class="menu-icon">
            Dashboard
        </li>
        <li>
            <img src="assets/images/image 3.png" class="menu-icon">
            Job Providers
        </li>
        <li>
            <img src="assets/images/image 6.png" class="menu-icon">
            New Registrations
        </li>
        <li>
            <img src="assets/images/image 4.png" class="menu-icon">
            Job Seekers
        </li>
        <li>
            <img src="assets/images/ic_search.png" class="menu-icon">
            Jobs
        </li>
        <li>
            <img src="assets/images/Group 239604.png" class="menu-icon">
            My Profile
        </li>
        <li>
            <img src="assets/images/image 6.png" class="menu-icon">
            Messages
        </li>
        <li>
            <img src="assets/images/image 7.png" class="menu-icon">
            Settings
        </li>
        <li>
            <img src="assets/images/image 5.png" class="menu-icon">
            Logout
        </li>
    </ul>
</nav>
