<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <br>
  <br>
  <div class="table-container">
   <table class="job-table">

    <tr>
      <th></th>
      <th>ID</th>
      <th>Date Applied</th>
      <th>Company</th>
      <th>Type</th>
      <th>Position</th>
      <th>Contact</th>
      <th>Status</th>
    </tr>

    <tr>
      <td><input type="checkbox"></td>
      <td><b>#APL</b>-0003</td>
      <td>June 1, 2020, 08:22 AM</td>

      <td>
        <div class="company">
          <div class="logo"></div>

          <div>
            <div class="company-name">Mocklab Inc.</div>
            <div class="company-type">Creative Design Agency</div>
          </div>
        </div>
      </td>

      <td>Freelance</td>
      <td>Intern UI Designer</td>

      <td>
        <button class="contact-btn">📞</button>
        <button class="contact-btn">🟪</button>
      </td>

      <td>
        <span class="status pending">Pending</span>
      </td>
    </tr>

    <tr>
      <td><input type="checkbox"></td>
      <td><b>#APL</b>-0002</td>
      <td>June 1, 2020, 08:22 AM</td>

      <td>
        <div class="company">
          <div class="logo"></div>

          <div>
            <div class="company-name">Fast Inc.</div>
            <div class="company-type">IT Department</div>
          </div>
        </div>
      </td>

      <td>Part-Time</td>
      <td>Junior UI Designer</td>

      <td>
        <button class="contact-btn">📞</button>
      </td>

      <td>
        <span class="status hold">On-Hold</span>
      </td>
    </tr>

    <tr>
      <td><input type="checkbox"></td>
      <td><b>#APL</b>-0003</td>
      <td>June 1, 2020, 08:22 AM</td>

      <td>
        <div class="company">
          <div class="logo"></div>

          <div>
            <div class="company-name">Mooceld Inc</div>
            <div class="company-type">Complete Design Agency</div>
          </div>
        </div>
      </td>

      <td>Part-Time</td>
      <td>Intern UI Designer</td>

      <td>
        <button class="contact-btn">🟪</button>
      </td>

      <td>
        <span class="status pending">Pending</span>
      </td>
    </tr>


     <tr>
      <td><input type="checkbox"></td>
      <td><b>#APL</b>-0002</td>
      <td>June 1, 2020, 08:22 AM</td>

      <td>
        <div class="company">
          <div class="logo"></div>

          <div>
            <div class="company-name">Hihgspeed Sindios</div>
            <div class="company-type">Complete Design Agency</div>
          </div>
        </div>
      </td>

      <td>Freelancer</td>
      <td>Intern Ux Designer</td>

      <td>
        <button class="contact-btn">🟪</button>
      </td>

      <td>
        <span class="status candidate">Candidate</span>
      </td>
    </tr>


     <tr>
      <td><input type="checkbox"></td>
      <td><b>#APL</b>-0001</td>
      <td>June 1, 2020, 08:22 AM</td>

      <td>
        <div class="company">
          <div class="logo"></div>

          <div>
            <div class="company-name">Fast Inc.</div>
            <div class="company-type">IT Department</div>
          </div>
        </div>
      </td>

      <td>Part-Time</td>
      <td>Junior UI Designer</td>

      <td>
        <button class="contact-btn">🟪</button>
      </td>

      <td>
        <span class="status candidate">Candidate</span>
      </td>
    </tr>

  </table>
  </div>
</body>
</html>