.form-page{
    position: absolute;
    background-color:powderblue ;
    height: 350px;
    width: 400px;
    margin-left: 500px;
    
}
form{
    position:relative;
    padding: 50px;
    flex-direction: column;
    
}
h2{
    position:relative;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}