
.navbar-brand {
  font-size: 28px;
  color: #232d62;
}

.navbar-nav{
    margin-left: 80px;
}

.nav-link {
  color: rgba(255, 255, 255, 0.901);
  font-weight: 300;
  margin-left: 20px;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.nav-actions {
    gap: 20px;
}

.nav-actions a {
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-actions a:hover {
    color: rgba(255, 255, 255, 0.901);
}

