<nav class="navbar navbar-expand-lg">
    <div class="container d-flex align-items-center mt-2">
        <a class="navbar-brand fw-bold">Hire Me Now</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Post a Job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feature</a>
            </li>
        </ul>
        <div class="nav-actions d-flex align-items-center">
            <a class="nav-item me-3" href="#">Login</a>
            <a class="nav-item" href="#">Sign in</a>
        </div>
    </div>
</nav>